nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
  color: rgba(0,0,0,0.87)
}

.nav-left {
  background: blue;

}

.nav-right {
  display: flex;
  flex-direction: row;
  background: red;
  align-items: center;
  padding: 10px;
}

.navlink {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #222;
  text-decoration: none;
  padding: 8px;
}

.app-grid-icon {
  color: #5f6368;
  opacity: 1;
  height: 20px;
  width: 20px;
  padding: 8px;
}

.applink {

}

img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
